.Home   {
    display:flex;   
}

.Home__content  {
    max-width: 75rem;
    margin: 5rem auto 0 auto;
    padding: 2rem;

    background: #ffffff;
    border-radius: 1rem;
}

.Home__headline  {
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.Home__button--align    {
    display: flex;
    justify-content: flex-end;
}

.Home__button   {
    background: #FF6370
 !important;
    border-radius: 40px !important;
    border-color: transparent !important;
    font-weight: 700 !important;
}

.btn   {
    padding: 0.5rem 1.5rem !important;
}
